<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data</title>
</head>
<body>
    <h1>Sensor Data</h1>
    <ul>
        
        <li>
            <strong>Sensor:</strong> {{ data.sensor }}, 
            <strong>Botao:</strong> {{ data.botao }}, 
            <strong>LigaRobo:</strong> {{ data.liga_robo }}, 
            <strong>ResetContador:</strong> {{ data.reset_contador }}, 
            <strong>Valor Contagem:</strong> {{ data.valor_contagem }}
        </li>
        
    </ul>
</body>
</html>
